<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/Script.js"></script>
</head>

<body>
    <h1>Bem-vindo ao Mundo do Python!</h1>

    <h2>
        <button id="btnQuemCriouPython">Quem criou Python</button>
        <button id="btnSobrePython">Mais sobre Python</button>
        <button id="btnRecursos">Recursos</button>
        <button id="btnTutoriais">Tutoriais</button>
        <button id="btnComunidade">Comunidade</button>
        <button id="btnProjetos">Projetos</button>
        <button id="btnFerramentas">Ferramentas</button>
        <button id="btnNoticias">Notícias</button>
        <button id="btnEventos">Eventos</button>
        <button id="btnContato">Contato</button>
        <button id="btnFAQ">FAQ</button>
        <button id="btnTermos">Termos</button>
    </h2>

    <br>
  
    
    <h3>Eventos</h3>
    <p>Eventos como PyCon, EuroPython e meetups locais são ótimas oportunidades
        para aprender mais sobre Python, conhecer outros desenvolvedores e participar de workshops e palestras.</p>
    <p>Fonte: <a href="https://www.pycon.org/" target="_blank">https://www.pycon.org/</a></p>
   
    



<br>
    <footer>
        <p>&copy; 2025 Meu Site</p>
    </footer>
</body>

</html>